<%- include("./partials/header.ejs") -%> <% if(locals.username) {%>
<div class="info">
  <div class="signed-in-text">Signed in as:</div>
  <div class="username">
    <img src="assets/user.png" alt="" class="user-logo" />
    <div class="username"><%= username %></div>
  </div>
</div>
<% } %>

<div class="container">
  <div class="muscle-container">
    <form class="muscle-form" action="/home" method="post">
      <label for="biceps">
        <div class="muscle-item">
          <input type="radio" id="biceps" name="muscle" value="Biceps" />
          Biceps
        </div>
        <img src="/assets/Biceps.png" alt="Biceps" />
      </label>

      <label for="triceps">
        <div class="muscle-item">
          <input type="radio" id="triceps" name="muscle" value="Triceps" />
          Triceps
        </div>
        <img src="/assets/Triceps.png" alt="Triceps" />
      </label>

      <label for="chest">
        <div class="muscle-item">
          <input type="radio" id="chest" name="muscle" value="Chest" />
          Chest
        </div>
        <img src="/assets/Chest.png" alt="Chest" />
      </label>

      <label for="back">
        <div class="muscle-item">
          <input type="radio" id="back" name="muscle" value="Back" />
          Back
        </div>
        <img src="/assets/Back.png" alt="Back" />
      </label>

      <label for="legs">
        <div class="muscle-item">
          <input type="radio" id="legs" name="muscle" value="Legs" />
          Legs
        </div>
        <img src="/assets/Legs.png" alt="Legs" />
      </label>

      <label for="abs">
        <div class="muscle-item">
          <input type="radio" id="abs" name="muscle" value="Abs" />
          Abs
        </div>
        <img src="/assets/Abs.png" alt="Abs" />
      </label>

      <label for="stretching">
        <div class="muscle-item">
          <input
            type="radio"
            id="stretching"
            name="muscle"
            value="stretching"
          />
          Stretching
        </div>
        <img src="/assets/Stretching.png" alt="Stretching" />
      </label>
      <label for="lats">
        <div class="muscle-item">
          <input type="radio" id="lats" name="muscle" value="Lats" />
          Lats
        </div>
        <img src="/assets/Lats.png" alt="Lats" />
      </label>
      <label for="hamstring">
        <div class="muscle-item">
          <input type="radio" id="hamstring" name="muscle" value="Hamstring" />
          Hamstring
        </div>
        <img src="/assets/Hamstring.png" alt="Hamstring" />
      </label>
      <label for="calves">
        <div class="muscle-item">
          <input type="radio" id="calves" name="muscle" value="Calves" />
          Calves
        </div>
        <img src="/assets/Calves.png" alt="Calves" />
      </label>
      <label for="quadriceps">
        <div class="muscle-item">
          <input
            type="radio"
            id="quadriceps"
            name="muscle"
            value="Quadriceps"
          />
          Quadriceps
        </div>
        <img src="/assets/Quadriceps.png" alt="Quadriceps" />
      </label>
      <label for="trapezius">
        <div class="muscle-item">
          <input type="radio" id="trapezius" name="muscle" value="Trapezius" />
          Trapezius
        </div>
        <img src="/assets/Trapezius.png" alt="Trapezius" />
      </label>
      <label for="shoulders">
        <div class="muscle-item">
          <input type="radio" id="shoulders" name="muscle" value="Shoulders" />
          Shoulders
        </div>
        <img src="/assets/Shoulders.png" alt="Shoulders" />
      </label>
      <label for="glutes">
        <div class="muscle-item">
          <input type="radio" id="glutes" name="muscle" value="Glutes" />
          Glutes
        </div>
        <img src="/assets/Glutes.png" alt="Glutes" />
      </label>
      <button class="submit-button" type="submit"><span>Confirm</span></button>
    </form>
  </div>
  <div class="right-container">
    <div class="skill-container">
      <form class="skill-form" action="/home" method="post">
        <label for="skill" class="skill-label">Choose your skill level:</label>
        <select id="skill" name="skill" class="skill-select">
          <option value="" class="beginner">Any</option>
          <option value="Beginner" class="beginner">Beginner</option>
          <option value="Intermediate" class="intermediate">
            Intermediate
          </option>
          <option value="Expert" class="expert">Expert</option>
        </select>
        <button type="submit" class="submit-button confirm">
          <span>Confirm</span>
        </button>
      </form>
    </div>

    <div class="right-bottom">
      <div class="eqp-container">
        <form class="eqp-form" action="/home" method="post">
          <label for="eqp" class="eqp-label">Choose your equipment:</label>
          <select id="eqp" name="eqp" class="eqp-select">
            <option value="" class="opt-select">Any</option>
            <option value="Barbell" class="opt-select">Barbell</option>
            <option value="Dumbbells" class="opt-select">Dumbbells</option>
            <option value="EZ-bar" class="opt-select">EZ-bar</option>
            <option value="kettlebell" class="opt-select">Kettlebell</option>
            <option value="Bench" class="opt-select">Bench</option>
            <option value="Chest press machine" class="opt-select">
              Smith Machine
            </option>
          </select>
          <button type="submit" class="submit-button confirm">
            <span>Confirm</span>
          </button>
        </form>
      </div>
      <form action="/home" method="post">
        <button class="get-info-button submit-button" name="final">
          <span> Time to sweat </span>
          <img src="/assets/weightlifting.png" alt="" />
        </button>
      </form>
      <form action="/home" method="post">
        <button class="get-info-button submit-button pr-btn" name="pr">
          <span> Personal Records </span>
          <img src="/assets/performance.png" alt="">
        </button>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") -%>
